<div class="m-4">
  <h1 class="mb-3">Stupid Coaching</h1>
  <form action="/answer" method="get" class="form-row" data-turbo="false">
    <label for="inputquestion" class="form-label mb-3">Ask your coach anything:</label>
    <div class="input-group">
      <input type="text" id="inputquestion" class="form-control" name="question">
      <input type="submit" class="btn btn-primary" value="Ask">
    </div>
  </form>
</div>
